<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <meta name="description"
          content="Creating a Zebra table with Bootstrap. Learn with example of a Zebra Table with Bootstrap.">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div style="align-content: center;margin: 8%">

    <h1>课程综合报告-教师版</h1>
    <div style="margin-right: 10%;margin-top:5%;font-family: '微软雅黑 Light',serif;font-size: large">
        <span>课程：</span>
        <span>数据结构</span>
        <span>教师：</span>
        <span>李华玲</span>
    </div>
    <h2>所修班级</h2>
    <!--/*@thymesVar id="result" type="com.nuc.tracking.teacherend.controller.DemoController"*/-->
    <div th:each="stu: ${result}">
        <div th:each="mapS:${stu}">
            <h3>[[${mapS.key}]]</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>课程达成度</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="items: ${mapS.value}">
                    <td>[[${items.studentCourse.studentId}]]</td>
                    <td>[[${items.name}]]</td>
                    <td>[[${items.studentCourse.percent}]]</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>


</body>
</html>