<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <meta name="description"
          content="Creating a Zebra table with Bootstrap. Learn with example of a Zebra Table with Bootstrap.">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div style="align-content: center;margin: 8%">
    <h1>综合报告-学生版</h1>
    <div style="margin-top:5%;font-family: '微软雅黑 Light',serif;font-size: large">
        <b style="margin-right: 5%">班级：[[${result.classId}]]</b>
        <b style="margin-right: 5%"></b>
        <b style="margin-right: 5%">学号：[[${id}]]</b>
        <b style="margin-right: 5%"></b>
        <b style="margin-right: 5%">姓名：[[${result.name}]]</b>
        <b style="margin-right: 5%"></b>
    </div>


    <h2 style="margin-top:5%;">所修课程</h2>
    <div th:each="course: ${result.studentCourseList}">
        <div th:each="eachItem: ${course.value}">
            <h3>[[${eachItem.name}]]</h3>
            <h4>课程达标度：[[${#numbers.formatDecimal(eachItem.studentCourse.percent*100,1,2)}]]%</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>课程目标</th>
                    <th>目标达成度</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="targetItem: ${eachItem.studentCourseTargetList}">
                    <div th:each="tar: ${targetItem.value}">
                        <div th:each="mesg: ${tar}">
                            <tr>
                                <td>[[${tarStat.count}]]</td>
                                <td>[[${mesg.name}]]</td>
                                <td>[[${#numbers.formatDecimal(mesg.studentCourseTarget.percent*100,1,2)}]]%</td>
                            </tr>
                        </div>

                    </div>

                </div>
                </tbody>
            </table>
        </div>
    </div>

    <h2 style="margin-top:5%;">专业目标</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>课程目标</th>
            <th>课程达成度</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="college: ${result.studentCollegeTargetList}">
            <td>[[${collegeStat.count}]]</td>
            <td>[[${college.name}]]</td>
            <td>[[${#numbers.formatDecimal(college.studentCollegeTarget.percent*100,1,4)}]]%</td>
        </tr>
        </tbody>
    </table>

    <h2 style="margin-top:5%;">毕业目标</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>课程目标</th>
            <th>课程达成度</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sability: ${result.studentAbilityList}">
            <td>[[${sabilityStat.count}]]</td>
            <td>[[${sability.name}]]</td>
            <td>[[${#numbers.formatDecimal(sability.ability.percent*100,1,4)}]]%</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>